<ion-content padding has-bouncing="false">
  <ion-segment color="dark">
  <ion-segment-button style="border:none;" *ngFor="let p of appPages;let i = index" (click)="select(i)"
   [ngClass]="{SKactiveSegment: selected===i}" >
<h2>{{p.title}}</h2>
</ion-segment-button>
</ion-segment>

<div id='indicator' class="indicatorSegment">
</div>

<ion-toolbar no-border-top>
  <ion-searchbar light [(ngModel)]="queryText" (ionInput)="searchThreads()" placeholder="Search for a topic..">
  </ion-searchbar>
</ion-toolbar>
<ion-slides (pan)="panEvent($event)" #mySlider (ionDrag)="onSlideChanged($event)" [options]="mySlideOptions">
  <ion-slide *ngFor="let p of appPages;let i = index">
    <ion-list *ngIf="!loading">
      <forum-topic *ngFor="let j = index;let topic of topics[j]" [topic]="topic" (onViewComments)="handleClickEvent(topic)">
      </forum-topic>
    </ion-list>
    </ion-slide>
</ion-slides>
</ion-content>